
.bg{
    background-image: url("../Immagini/barcaErrore2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.mexError{
    background-color: rgb(180, 180, 180);
    opacity: 0.6;
    filter: alpha(opacity=60);
}