body{
	background: #66a1d1;
}

.personalTable{
	width: 50%;
    margin-left: auto;
	margin-right: auto;
	
}

.bg{
    background-image: url("../Immagini/barca.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%; 
}