body{
	background: #66a1d1;
}

.bg{
    background-image: url("../Immagini/barca.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.LogoDiv{
    background-color: rgb(30, 73, 218);
    height: 20%;
}

.titleContainer{
    height: 920px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-left: -10px;
    margin-right: -10px;
    background-image: url("Immagini/pesca3.jpg");
    background-size:100% 100%;
}

.title{
    background-color: rgb(180, 180, 180);
    opacity: 0.6;
    filter: alpha(opacity=60);
} 

.greatTitle{
	color: black;
	font-size: 100pt;
	text-transform: uppercase;
	text-align: center;
	font-family: shania, red-serif;
}

@media only screen and (max-width: 1080px){
	.titleContainer{
		height: 720px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-left: -10px;
		margin-right: -10px;
		background-image: url("Immagini/pesca3.jpg");
		background-size:100% 100%;
	}
	
	.title{
		background-color: rgb(180, 180, 180);
		opacity: 0.6;
		filter: alpha(opacity=60);
	}

	.greatTitle{
		color: black;
		font-size: 60pt;
		text-transform: uppercase;
		text-align: center;
		font-family: shania, red-serif;
	}
}

.titleAbout, .titleContacts{
	margin-left: 3px;
	color:white;
	font-size: 15pt;
	text-align: center;
}

.aboutText{
	margin-left: 3px;
	color:white;
}

.contacts{
	background-color: black;
	height: 150px;
	margin-left: -10px;
	margin-right: -10px;
	position: relative;
	bottom:0;
	width: 100%;
}

.emailC, .telephoneC, .mobilePhoneC{
	margin-left: 1%;
	color:white;
	text-align: justify;
}

.titleContacts{
  margin-left: 4%;
	color:white;
	text-align: center;
}


.loginBody{
	background-image: url("images/vinile.jpg");
}

.loginForm{
	background-color: white;
	margin: 0 auto;
	width:500px;
	height:530px;
	border-style: ridge;
	border-color: red;
	padding: 16px;
	position: absolute;
	top: 20%;
 	left: 45%;
  	margin: -100px 0 0 -150px;
}

.titleLogin{
	color: #331abe;
	font-size: 40pt;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
}

.topLogin{
	color: #dc143c;
	font-size: 20pt;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"]{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button{
	background-color: #00ff40;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    font-size: 16px;
}

.cancelbtn{
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

.forgot{
	float: right;
	padding-top: 16px;
}

.container{
	background-color: #f1f1f1;
	margin-left: -15px;
	margin-right: -15px;
	height: 60px;
}

.registrationForm{
	background-color: white;
	margin: 0 auto;
	width:30%;
	height:70%;
	border-style: ridge;
	border-color: red;
	padding: 16px;
    top: 60%;
}

.registrationbtn{
	background-color: #00ff40;
    color: black;
	padding: 14px 20px;
	margin: -10px;
    border: none;
    cursor: pointer;
	width: 200px;
	margin: 0 auto;
}

.cancelbtnr{
	padding: 14px 20px;
	background-color: #f44336;
	width: 200px;
	margin: 0 auto;
}

.titleRegistration{
	color: #331abe;
	font-size: 40pt;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
}

@media only screen and (max-width: 1080px){
	.titleRegistration{
		color: #331abe;
		font-size: 40pt;
		text-transform: uppercase;
		text-align: center;
		font-family: Arial;
	}
}

.topRegistration{
	color: #dc143c;
	font-size: 20pt;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
}

.buttonD{
	display: flex;
	align-items: center;
	justify-content: center;
}

.Data_div{
	background-color: white;
	margin: 0 auto;
	width:40%;
	height:30%;
	border-style: ridge;
	border-color: red;
	padding: 16px;	
	position: absolute;
	top: 50%;
 	left: 40%;
  	margin: -100px 0 0 -150px;		
}

@media screen and (max-width: 1600px){
	.Data_div{
		background-color: white;
		margin: 0 auto;
		width:100%;
		height:100%;
		border-style: ridge;
		border-color: red;
		padding: 16px;	
		position: absolute;
		top: 50%;
 		left: 40%;
  		margin: -100px 0 0 -150px;	
	}
}

.bodyData{
	background: #66a1d1;;	
}

.userDate{
	width: 100%;
    padding: 12px 20px;
	margin-left: 35%;
	margin-right: 50%;
	font-size: 40px;
}

.userPresent{
	width: 100%;
	padding: 12px 20px;
	top: 40%;
	font-size: 10px;
}

.bg-2 { 
	background-color: #114ccc; 
	color: #ffffff;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.margin {
	margin-bottom: 45px;
}

* {
	box-sizing: border-box;
  }
  
  form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
  }

  form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; 
	cursor: pointer;
  }
  
  form.example button:hover {
	background: #0b7dda;
  }
  
  form.example::after {
	content: "";
	clear: both;
	display: table;
  }

  .Contatti_e_Social{
	background: #66a1d1;
  }

  .social{
	/* margin-left: 70%; */
	color:white;
	text-align: right; 
  }
  
  .fa:hover {
    opacity: 0.7;
}

  .fa-facebook {
	background: #3B5998;
	color: white;
	padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
	padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-instagram {
	background: #125688;
	color: white;
	padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .dropdown1{
    margin-top: 0px;
  }

  .groundNav {
	  background:#483d8b;
  }


